.medio-tam 
{
    max-width: 400px;
    margin: auto;
}

.baja-servicio 
{
    margin-left: 15rem;
}

.logo-admin
{
    //min-height: 8rem;
    min-width: 8rem;
}

.logo-admin img {
   padding-top: 1rem;
}

.titulo-login-admin{
    text-align: center;
    position: absolute;
    margin-left: 25rem;
    margin-top: -4rem;
    color: #ffffff;
    font-size: 2rem;
}
